<header>
  <div class="container">


  </div>
</header>
<nav class="navbar bg-light">
  <div class="container">
    <a routerLink="/" class="nav-link">home</a>
    <a routerLink="/product" class="nav-link">product</a>
    <a routerLink="/categories" class="nav-link">Categories</a>
    <a routerLink="/search" class="nav-link">Search</a>
    <a routerLink="/login" class="nav-link"> Login</a>
    <a routerLink="/logout" class="nav-link"> Logout</a>
  </div>
</nav>
<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
